.homebg {
    background-image: url("../assets/images/bank-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: calc(100vh - 116px);
}

.homeCard {
    background-color: rgba(0, 70, 107, .8);
}


