 .accountInput {
     .input {
         border: none;
         border-bottom: 1px solid gainsboro;
         padding: 15px 8px;
     }

     .floating-text {
         border: none;
     }

     .select {
         border: none;
         border-bottom: 1px solid gainsboro;
     }
 }