.homebg {
    background-image: url("../assets/images/bank-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // height: calc(100vh - 116px);
    min-height: 100vh;
}

.homeCard {
    background-color: rgba(0, 70, 107, .8);
}

@media screen and (max-width:992px) {
    .homeCard {
        h1 {
            font-size: 25px;
        }
    }
}